{% extends 'base.html.twig' %}
{% block title %}Trang chủ{% endblock %}
{% block body %}
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2 l-12">
                    <nav class="category">
                        <h3 class="category__title"><i class="fas fa-list-ul category__title-icon"></i> Danh mục</h3>
                        <ul class="category-list">
                            <li class="category-item">
                                <a href="" class="category-item__link">ĐẠI TIỆC "THE ORDINARY</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare TẨY TRANG & SRM</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare TONER & XỊT KHOÁNG</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">The Inkey List</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare SERUM & TREATMENT</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare KEM DƯỠNG DA, MẮT & MÔI</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare MASK & TẨY DA CHẾT</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Skincare KEM CHỐNG NẮNG</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">SẢN PHẨM MAKE-UP</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <div class="home-filter hidden-on-tablet">
                        <span class="home-filter__label">Sắp xếp theo</span>
                        <button class="home-filter__btn btn">Phổ biến</button>
                        <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                        <button class="home-filter__btn btn">Bán chạy</button>
                        <div class="select-input">
                            <span class="select-input__label">Giá</span>
                            <i class="select-input__icon fas fa-chevron-down"></i>
                            <ul class="select-input__list">
                                <li class="select-input__item">
                                    <a href="" class="select-input__link">Giá : Thấp đến Cao</a>
                                </li>
                                <li class="select-input__item">
                                    <a href="" class="select-input__link">Giá : Cao đến Thấp</a>
                                </li>
                            </ul>
                        </div>
                        <div class="home-filter__page">
                            <span class="home-filter__page-number">
                                <span class="home-filter__page-current">1</span>/14
                            </span>
                            <div class="home-filter__page-control">
                                <a href="" class="home-filter__page-btn home-filter__page-btn--active">
                                    <i class="home-filter__page-icon fas fa-angle-left"></i>
                                </a>
                                <a href="" class="home-filter__page-btn">
                                    <i class="home-filter__page-icon fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="home-product">
                        <div class="grid__row">
                            <!-- grid__column-2-4 -->
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            <div class="grid__column-2-4 l-6">
                                <div class="home-product__cart-list">
                                    <!-- header cart -->
                                    <div class="home-product__header">
                                        <span class="home-product__header-favourite">Yêu thích <i class="home-product__header-favourite-icon fas fa-check"></i></span>
                                        <img src="https://www.sangia.vn/uploads/Image/2020/02/25/Hoa%20t%C6%B0%C6%A1i%20t%E1%BA%B7ng%20b%E1%BA%A1n%20g%C3%A1i.jpg" class="home-product__header-img" alt="">
                                        <div class="home-product__header-sale">
                                            <span class="home-product__header-sale-percent">48%</span>
                                            <span class="home-product__header-sale-status">Giảm</span>
                                        </div>
                                    </div>
                                    <!-- end header -->
                                    <div class="home-product__body">
                                        <span class="home-product__body-title">Mũ lưỡi trai Nón kết thêu chữ Memorie phong cách Ulzzang form unisex nam nữ N01</span>
                                        <!-- price -->
                                        <div class="home-product__body-price">
                                            <del class="home-product__body-price-old">125.000đ</del>
                                            <span class="home-product__body-price-curent">65.000đ</span>
                                        </div>
                                        <!-- end price -->
                                        <!-- Vote Rate -->
                                        <div class="home-product__body-vr">
                                            <span class="home-product__body-rate home-product__body-rate--liked">
                                                <i class="far fa-heart home-product__body-rate-icon-empty"></i>
                                                <i class="fas fa-heart home-product__body-rate-icon-fill"></i>
                                            </span>
                                            <div class="home-product__body-vote">
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="home-product__body-vote-icon-gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <!-- <i class="fas fa-star"></i> -->
                                            </div>
                                            <span class="home-product__body-rate__sold">66 đã bán</span>
                                        </div>
                                        <!-- end Vote rate -->
                                        <!-- Brand -->
                                        <div class="home-product__body-brand">
                                            <span class="home-product__body-brand-name">Whoo</span>
                                            <span class="home-product__body-brand-name">Hàn Quốc</span>
                                        </div>
                                        <!-- endBrand -->
                                    </div>
                                </div>
                            </div>
                            
                            <!-- end grid__column-2-4 -->
                        </div>
                    </div>
                    <ul class="home-paginate">
                        <li class="home-paginate__item">
                            <a href="" class="btn home-paginate__link ">
                                <i class="fas fa-angle-left home-paginate__link-icon-backpage"></i>
                            </a>
                            <a href="" class="btn home-paginate__link home-paginate__link--active">
                                1
                            </a>
                            <a href="" class="btn home-paginate__link">
                                2
                                </a>
                                <a href="" class="btn home-paginate__link">
                                3
                                </a>
                                <a href="" class="btn home-paginate__link">
                                4
                                </a>
                            <a href="" class="btn home-paginate__link">
                                <i class="home-paginate__link-icon-nextpage fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}