<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h2 class="footer__title">CHĂM SÓC KHÁCH HÀNG</h2>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="" class="footer__list-item-link">Trung tâm trợ giúp</a></li>
                    <li class="footer__list-item"><a href="" class="footer__list-item-link">TickID Mail</a></li>
                    <li class="footer__list-item"><a href="" class="footer__list-item-link">Hướng Dẫn Mua Hàng</a></li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h2 class="footer__title">VỀ TICKID</h2>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Giới thiệu Về TickID Việt Nam</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Tuyển Dụng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Điều Khoản TickID</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4"></div>
            <div class="grid__column-2-4">
                <h2 class="footer__title">THEO DÕI CHÚNG TÔI TRÊN</h2>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="" class="footer__list-item-link"><i class="footer__list-item-link-icon fab fa-facebook"></i> Facebook</a></li>
                    <li class="footer__list-item"><a href="" class="footer__list-item-link"><i class="footer__list-item-link-icon fab fa-instagram-square"></i> Instagram</a></li>
                    <li class="footer__list-item"><a href="" class="footer__list-item-link"><i class="footer__list-item-link-icon fab fa-linkedin"></i> Linkedln</a></li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h2 class="footer__title">VÀO CỬA HÀNG ỨNG DỤNG TICKID</h2>
                <div class="footer__logo">
                    <a href="" class="footer__logo-app-link">
                        <img src="{{ asset('home/img/qrcode.png') }}" class="footer__logo-qrcode" alt="">
                    </a>
                    <div class="footer__logo-app">
                        <a href="" class="footer__logo-app-link">
                            <img src="{{ asset('home/img/appstore.png') }}" class="footer__logo-app-appstore" alt="">
                        </a>
                        <a href="" class="footer__logo-app-link">
                            <img src="{{ asset('home/img/googleplay.png') }}" class="footer__logo-app-appgg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__bottom">
    <p class="footer__bottom-tittle">&copy; 2021 - Bản quyền thuộc về Công ty TNHH Shopee</p>
</div>